// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  padding-bottom: 100px;
}

.card-body a:hover {
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

#search {
  border-width: 0 0 1px 0;
  outline-offset: 0;
  &:focus {
    box-shadow: none;
  }
}

.divider {
  position: relative;
  width: 100%;
  text-align: center;

  span {
    background-color: #fff;
    padding: 0 1rem;
    position: relative;
    z-index: 2;
  }

  &::before {
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #d3dce7;
  }
}
